body, html {
  height: 100%;
}

body {
  background-size: cover !important;
  color: #ffffff;
}

h1, h3, h4, h5 {
  color: #ffffff;
}

h5 {
  font-size: 95%;
}

h3 {
  background: #333;
  margin: 0 0 5px;
  padding-left: 20px;
  padding-bottom: 5px;
}

em {
  font-size: 80%;
}

i {
  font-family: 'FontAwesome';
  font-style: normal;
}

.row {
  max-width: 100%;
}

.row .row {
  margin: 0;
}

#sidebar > .row > div {
  padding: 0 0 20px 0;
  background: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
}

#bio {
  border-top: 5px solid #333;
  margin-top: 50px !important;
  /*border-color: #333;*/
  /*border-color: rgba(255, 255, 255, 0.8);*/
  /*border-style: solid;*/
  /*border-width: 1px 2px;*/
  /*border-width: 1px 0;*/
}

#bio .large-5 {
  text-align: right;
}

#bio img {
  border-radius: 100%;
  border: 3px solid #333;
  margin: 15px 0;
}

#description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  font-weight: 200;
}

.entry {
  padding-left: 40px;
}

#skills {
  margin-bottom: 40px;
}

table {
  width: 100%;
  margin: 0;
  border-color: transparent !important;
  background: transparent !important;
}

table td {
  padding: 3px 5px !important;
  width: 50% !important;
  /*background: white !important;*/
  background: transparent !important;
  color: white !important;
  height: 20px;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: transparent;
}

table td:nth-child(1) {
  text-align: right;
  font-weight: 200;
  font-size: 16px;
}
table td i{
	float: left;
}
.bar{
	position: relative;
	float: left;
	height: 100%;
	margin-left: 10px;
	width: 140px;
}
.histogram-container{
	position: relative;
	height:50%;
	width: 100%;
}
.histogram-bar{
	height: 100%;
	border: 1px solid white;
}
.student-bar{
	/* background-color: #ed5a5a; */
}
.teacher-bar{
	/* background-color: #52c0ff; */
}
.menu {
  position: fixed;
  width: 340px;
  height: 100%;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: right .3s ease;
  -moz-transition: right .3s ease;
  transition: right .3s ease;
}

.menu-close {
  right: -340px;
}

.menu-open {
  right: 0;
}

.menu-button {
  position: absolute;
  top: 20%;
  left: -80px;
  height: 80px;
  width: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
  line-height: 80px;
}

#social > div {
  padding: 0;
  text-align: right;
  font-size: 20px;
}

#social i {
  padding: 0 2px;
  cursor: pointer;
}

h5 em {
  text-align: right;
  display: block;
}