body, html {
  height: 100%;
}

body {
  background-size: cover !important;
  color: #ffffff;
}

h1, h3, h4, h5 {
  color: #ffffff;
}

h5 {
  font-size: 95%;
}

h3 {
     background: #333;
  /*background-color: goldenrod *//* #1778A5 *//*;*/
  margin: 0 0 5px;
  line-height: 40px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-bottom: 5px;
}

table tr > td:first-child {
  color: #ccc;
  /*color: goldenrod *//* #1778A5 *//*;*/
}

em {
  font-size: 80%;
}

i {
  font-family: 'FontAwesome';
  font-style: normal;
}

h1 small {
  color: #ccc;
}

.row {
  max-width: 100%;
}

.row .row {
  margin: 0;
}

#sidebar > .row > div {
  padding: 0 0 20px 0;
  background: rgba(0, 0, 0, 0.9);
  margin-top: 10px;
}

#bio {
  /*border-top: 5px solid goldenrod *//* #1778A5 *//*;*/
  margin-top: 50px !important;
  border-color: #333;
  /*border-color: rgba(255, 255, 255, 0.8);*/
  border-style: solid;
  border-width: 5px 0 0 0;
  /*border-width: 1px 0;*/
}

#bio .large-5 {
  text-align: right;
}

#bio img {
  border-radius: 100%;
  border: 3px solid #333;
  margin: 15px 0;
}

#description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  font-weight: 200;
}

.entry {
  padding-left: 40px;
}

#skills {
  margin-bottom: 40px;
}

table {
  width: 100%;
  margin: 0;
  border-color: transparent !important;
  background: transparent !important;
}

table td {
  padding: 3px 5px !important;
  width: 50% !important;
  /*background: white !important;*/
  background: transparent !important;
  height: 20px;
}

table td:last-child {
  color: white !important;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: transparent;
}

table td:nth-child(1) {
  text-align: right;
  font-weight: 200;
  font-size: 16px;
}

table td i {
  float: left;
}

.bar {
  position: relative;
  float: left;
  height: 100%;
  margin-left: 10px;
  width: 150px;
}

.histogram-container {
  position: relative;
  height: 80%;
  width: 100%;
}

.histogram-bar {
  display: inline-block;
  height: 100%;
  border: 1px solid white;
}

.teacher-bar {
  margin-top: -1px;
}

.menu {
  position: fixed;
  width: 340px;
  height: 100%;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: right .3s ease;
  -moz-transition: right .3s ease;
  transition: right .3s ease;
}

.menu-close {
  right: -340px;
}

.menu-open {
  right: 0;
}

.menu-button {
  position: absolute;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  line-height: 45px;
}

#social > div {
  padding: 0;
  text-align: right;
  font-size: 20px;
}

#social > div > ul {
  text-align: left;
  list-style: none;
}

#social > div > ul i {
  text-align: left;
  font-size: 25px;
  vertical-align: middle;
  display: inline-block;
}

#social i {
  padding: 0 2px;
  cursor: pointer;
}

h5 em {
  text-align: right;
  display: block;
}

#open {
  top: 0px;
  right: 5px;
}

#open > span {
  position: absolute;
  top: 8px;
  left: 5px;
  line-height: 16px;
  height: auto;
  width: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border-radius: 20px;
  border: 2px solid #ff6767;
  background-color: red;
}

#open i {
  color: #fff;
}

#open {
  /* background-color: red; */
}

#menu .row {
  overflow: scroll;
  height: 100%;
}

.fa-star {
  cursor: pointer;
}

.star-colored {
  color: goldenrod;
}

.bar-colored {
  border-color: goldenrod;
}

@-webkit-keyframes change-color /* Safari and Chrome */
{
  0% {
    color: white;
  }
  50% {
    color: goldenrod;
  }
  100% {
    color: white;
  }
}

.endorsement-colored {
  -webkit-animation: change-color .5s;
}

.bar-value {
  line-height: 100%;
  vertical-align: top;
  font-size: 16px;
  margin-left: 5px;
}

[data-time="now"] > strong {
  color: goldenrod;
}

#search-box {
  height: 29px;
}

.has-form {
  width: 800px;
}

legend {
  color: black;
}

.login {
  margin-top: 10%;
  text-align: center;
}

.login img {
  height: 100px;
  margin-top: 20px;
}

#edit {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  /*color: gainsboro;*/
  padding: 10px;
}

#customize {
  /*position: absolute;*/
  /*bottom: -20px;*/
  /*right: 20px;*/
  font-size: 15px;
  padding: 10px;
}

#customize-tab {
  position: relative;
  margin-bottom: 60px;
  text-align: right;
  margin-right: 10px;
}

#customize-tab ul li i {
  font-size: 20px;
}

#customize-tab ul li i:first-child {
  margin-left: 10px;
}

#customize-tab ul li i:hover {
  cursor: pointer;
}

#customize-tab ul {
  list-style: none;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

#title {
  width: 70%;
  height: 54px;
  font-size: 30px;
}

#about-me {
  height: 80px;
  resize: none;
}

.social-edit {
  display: inline-block !important;
  margin-left: 10px !important;
  width: 200px !important;
}

.social-icon {
  display: inline-block;
  width: 30px;
}

.edit-page .entry input {
  width: 80% !important;
}

.edit-page .entry {
  margin-top: 10px;
}

.edit-page #skills i {
  cursor: pointer;
  font-size: 20px;
}

.edit-page #skills i:hover {
  color: #ab0000;
}

.add-position {
  width: 80%;
  height: 40px;
  font-size: 20px;
  display: inline-block;
  vertical-align: bottom;
  padding: 0;
}

.add-position i {
  line-height: 40px;
}

.add-skill {
  padding: 5px !important;
  width: 30%;
  text-align: center;
  display: inline-block;
}

.add-skill i {
  display: inline-block;
  float: none !important;
}

#skills .add-skill i:hover {
  color: #fff;
}

#skills input {
  display: inline-block;
  text-align: right;
  width: 80px;
  margin: 0 !important;
  height: 30px;
  line-height: 30px;
}

.opacity-slider {
  display: inline-block;
  width: 100px;
  margin-left: 20px;
}